.connected-header
{
    float:right;
    padding: 10px;
}

.dropzone
{
    background: none repeat scroll 0% 0% rgba(239, 239, 239, 1);
    padding: 65px;
}

.quick-dropzone
{
    padding: 50px 0px;
    background: rgba(180, 180, 180, 1);
}

.currents-screenshots img
{
    height:200px;
}